<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="appConfig" class="ru.otus.hw02.config.AppConfig">
        <property name="rightAnswersCountToPass" value="3" />
        <property name="testFileName" value="${fileName}" />
    </bean>


    <bean id="csvQuestionDao" class="ru.otus.hw02.dao.CsvQuestionDao">
        <constructor-arg ref="appConfig"/>
    </bean>


    <bean id="ioService" class="ru.otus.hw02.service.StreamsIOService">
        <constructor-arg index="0">
            <util:constant static-field="java.lang.System.out"/>
        </constructor-arg>
        <constructor-arg index="1">
            <util:constant static-field="java.lang.System.in"/>
        </constructor-arg>
    </bean>

    <bean id="testServiceImpl" class="ru.otus.hw02.service.TestServiceImpl">
        <constructor-arg name="ioService" ref="ioService"/>
        <constructor-arg name="questionDao" ref="csvQuestionDao"/>
    </bean>


    <bean id="studentService" class="ru.otus.hw02.service.StudentServiceImpl">
        <constructor-arg name="ioService" ref="ioService"/>
    </bean>

    <bean id="resultService" class="ru.otus.hw02.service.ResultServiceImpl">
        <constructor-arg name="testConfig"  ref="appConfig"/>
        <constructor-arg name="ioService" ref="ioService"/>
    </bean>

    <bean id="TestRunnerServiceImpl" class="ru.otus.hw02.service.TestRunnerServiceImpl">
        <constructor-arg name="testService" ref="testServiceImpl"/>
        <constructor-arg name="studentService" ref="studentService"/>
        <constructor-arg name="resultService" ref="resultService"/>
    </bean>

</beans>
